.box_article_image {
    display: block;
    max-width: 800px;
    margin: 20vh auto;
    
}
.title {
    font-size: 2.5em;
    text-align: left;
    display: block;
    margin: 10px 0 ;
}


.linkImage {
    background-color: #302e2e;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    max-width: 300px;
    text-align: center;
    margin: 20px 0;
}

.linkImage:hover {
    color: aliceblue;
}


@media screen and (max-width: 900px) {
    .box_article_image {
        text-align: center;
        margin: 10vh 20px;
    }

    .title {text-align: center;}

    .linkImage {
        margin: auto;
        text-align: center;
    }
}